body {
  color: #000000;
  font-family: sans-serif;
  font-size: 16px;
  background: linear-gradient(
    110deg,
    rgb(56, 151, 220),
    rgb(37, 13, 255),
    rgb(56, 151, 230)
  );
  background-size: 200%;
  animation: backgroundGradient 4s ease infinite;
}
@keyframes backgroundGradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
body * {
  box-sizing: border-box;
}

body header h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 5em;
  text-align: center;
  padding-right: -50px;
  text-shadow: 0 1px 10px #fff;
}
body header h1 i {
  margin-left: -50px;
  padding-bottom: 20px;
  color: #b1b1b1;
}

body header h1 span {
  margin-left: -50px;
  color: #ffffff;
}

body main section {
  display: flex;
  flex-direction: column;
  min-height: auto;
  padding: 0% 20% 0% 20%;
}

body main section#reasons h2 {
  font-size: 50px;
  text-align: center;
  margin-bottom: 10px;
  font-family: 'Audiowide', cursive;
  text-shadow: 0 1px 20px #fff;
}
body main section#reasons span h2 {
  color: #ffffff;
  text-shadow: 0 1px 20px #000000;
  text-align: center;
}
body main section#reasons div .item {
  text-align: center;
  font-size: 12px;
  display: inline-block;
  margin: 10px -20px 10px 0px;
  padding-left: 58px;
}
body main section#reasons div .item1 {
  text-align: center;
  font-size: 12px;
  display: inline-block;
  margin: 10px 10px 10px 0px;
  padding-left: 58px;
}

body main section#reasons div img {
  max-height: 250px;
}
body main section#newsletter {
  padding-top: 2%;
  padding-bottom: 0%;
}
body main section#newsletter .form-container {
  background-color: #0205a7;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 15px -3px #000000;
  box-shadow: 0px 0px 15px -3px #000000;
  padding: 24px 10%;
  text-align: center;
}
body main section#newsletter .form-container p {
  color: #ffffff;
  font-size: 18px;
  margin: 0 0 24px 0;
}
body main section#newsletter .form-container input,
body main section#newsletter .form-container button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: none;
  padding: 12px;
}
body main section#newsletter .form-container input {
  font-weight: bold;
  background-color: #ffffff;
}
body main section#newsletter .form-container button {
  color: #ffffff;
  background-color: #001068;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  min-width: 100px;
  cursor: pointer;
}
body footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 10%;
}
@media (max-width: 700px) {
  body {
    font-size: 3vw;
    background: linear-gradient(
      rgb(56, 151, 220),
      rgb(37, 13, 255),
      rgb(56, 151, 230)
    );
  }

  body main section#reasons h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Audiowide', cursive;
    text-shadow: 0 1px 20px #fff;
  }
  #reasons {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    align-items: center;
    margin-top: 50px;
  }
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 10px;
  }
  form input {
    width: 50vw;
    margin-bottom: 20px;
  }

  form button {
    width: 50vw;
  }
}
footer a:hover,
a:link,
a:visited,
a:active {
  color: black;
  text-decoration: none;
}
